  body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0}
body, button, input, select, textarea { font: 12px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
h1, h2, h3, h4, h5, h6 { font-size: 100%}
em{ font-style: normal}
ul, ol { list-style: none}
a { text-decoration: none}
img { border: 0; max-width:100% }
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{*zoom:1}
body,html,.wrap{height: 100%;}
wrap{width: 100%; overflow-x:hidden}
.sp{background-image:url(img/sp.png);background-size: 400px 400px;}
.fl{float: left }
.fr{float: right }

.page1{background-color: #fff;}
.page1{z-index:9}
.page2{z-index:8}
.page3{z-index:7}
.page4{z-index:6}
.page5{z-index:5}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.page>div{overflow: hidden;
    height: 100%;
    width: 100%;
}

.page2,.page3{color:#fff; background: url(img/bg_vcall.jpg) no-repeat 0px 0px; background-size: cover;position: relative; }

.loading{position: absolute;left:50%;top: 50%;margin:-65px 0 0 -65px;width: 110px;}
.rotate-box{position: relative;width: 72px;height: 72px;padding: 10px;margin:0 auto;border-radius:50%;}
.rotate-box:after{content:"";display: block;position: absolute;left: 3px;top: 3px;width: 82px;height: 82px;border:2px solid #efefef;border-radius:50%;}
.rotate-box .dian{content:"";display: block;position: absolute;left: 4px;top: 4px;width: 84px;height: 84px;z-index: 2;

  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.rotate-box .dian:after{content:"";display:;position: absolute;left: 7px;top: 7px;width: 10px;height: 10px;background-color:#ddd;
border-radius:50%;
}
.loading-logo{display: block;width: 72px;height: 72px;background: url(img/loading-logo.png) no-repeat 0 0;-webkit-background-size:100%;
background-size:100%;}
.logo-text{width: 100%;height: 30px;font-size: 0;color:#fff;background:url(img/logo-text.png) no-repeat center;-webkit-background-size:100% auto;
background-size:100% auto;}


@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);color:#aaa;
    transform: rotate(0deg);color:#aaa;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page2 .hd{padding: 15px; font-size: 13px; }
.page2 .nickname{font-size: 27px; display: block;}
.page2 .hd .txt{overflow: hidden; padding-left: 15px;}
.avatar{display: block; float: right; width: 66px; height: 66px; background-position: 0px -200px;border-radius:100%;}
.remind, .msg{margin-bottom: 20px;width: 45% }
.page2 .fd{text-align: center;font-size: 14px; height: 180px; width: 100%; position: absolute; bottom:25px; left:0 }
.fd .column{width: 90px; margin: 0px auto;}

.column .icon{display: block;width: 21px; height: 21px; margin: 0px auto; padding-bottom: 8px;}
.remind .icon{background-position: -100px -200px;}
.msg .icon{background-position: -150px -200px;}

.invite-col span{
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin:0 3px;
}
.invite-col .load_one {
  -webkit-animation-delay: -0.32s;
}
.invite-col .load_two {
  -webkit-animation-delay: -0.16s;
}
.invite-col .load_three {
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(1.0); opacity:0 }
  40% { -webkit-transform: scale(1.0); opacity:1 }
}
.answer{clear:both;float:none;width: 80%;margin: 20px auto;font-size: 15px; padding-top: 30px;
padding: 6px 6px 6px 6px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;text-align: left;
    background: -moz-linear-gradient(top, rgba(248,248,248,.5), rgba(243,243,243,.5));
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(248,248,248,.4)),color-stop(1, rgba(243,243,243,.4)));
    overflow: hidden;
    -webkit-user-select: none;
}
#well {/* margin-right: 20px; */
    overflow: hidden;
}
#well h2 {text-align: center;line-height: 70px;
  background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d);
  background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d));
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slidetounlock 5s infinite;
  font-size: 25px;
  font-weight: 600;
  -webkit-text-size-adjust: none;
}
#slider {float: left;
    background: url(img/arrow.png) no-repeat;-webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    line-height: 1;
}
@-webkit-keyframes slidetounlock {
    0% {
        background-position: -720px 0;
    }
    100%{
        background-position: 720px 0;
    }
}

.page3 .hd{height: 50px;text-align: center;padding:20px 0;font-size: 27px;}
.page3 .icon{display: block;margin: 0 auto;width: 66px;height: 66px;background:url(img/sp.png) no-repeat 0 0;-webkit-background-size:400px 400px;
background-size:400px 400px;}
.page3 .icon1{background-position: 0 0;}
.page3 .icon2{background-position: -72px 0;}
.page3 .icon3{background-position: -144px 0;}
.page3 .icon4{background-position: 0 -68px;}
.page3 .icon5{background-position: -72px -68px;}
.page3 .icon6{background-position: -144px -68px;}
.page3 .handle-col{position: absolute;left: 20px;right: 20px;top: 30%;}
.handle-col .col{float:left;width: 33%;margin: 8px 0;text-align: center;}
.handle-col .col em{display: block;line-height: 20px;}
.hangup{position: absolute;bottom:10%;width: 100%;left: 0;text-align: center;}
.hangup .icon{display:inline-block; width: 75px; height: 72px; background-position:0 -300px;}

.invite-load{position: absolute;left: 0;bottom: 0;width: 100%;height: 100%;z-index: 20;
    transition:all 1s ease-out 0s;
    -webkit-transition:all 1s ease-out 0s;
    -moz-transition:all 1s ease-out 0s;
    -o-transition:all 1s ease-out 0s;
    -ms-transition:all 1s ease-out 0s;
}

.invite-load .mayor-pic{ -webkit-animation: anim-badge2 1s .7s ease both; }
.invite-load .pop, .invite-load .btn-box{ -webkit-animation: anim-badge 1s .7s ease both; }
.invite-load .mayor-pic{ -webkit-animation-delay: 0.2s}
.invite-load .mayor-pic{ -webkit-animation-delay:0.5s }
.invite-load .pop{ -webkit-animation-delay: 0.8s}
.invite-load .btn-box{ -webkit-animation-delay:.9s }
@-webkit-keyframes anim-badge{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes anim-badge2{
    0%{opacity:0;left:0px;}
    100%{opacity:1;left:5px;}
}


.mayor-pic{position: absolute;bottom:0;left: 0;width: 100%;height: 60%;background:url(img/mayor-pic.png) no-repeat 0 bottom;-webkit-background-size:100% auto;
background-size:100% auto;}

.pop{padding:10px;width: 200px;position: absolute;right: 10px;bottom: 60%;background-color:#7f7f7f;color:#fff;font-size: 12px;z-index: 10;}
.pop:after{position: absolute;content:"";bottom:-19px;left:60px;display: block;width: 0;height: 0;overflow: hidden;font-size: 0;
border-top:10px solid #7f7f7f;
border-right:15px solid transparent;
border-bottom:10px solid transparent;
border-left:15px solid transparent;
 }
.pop .name{text-align: right;}
video{font-size: 100%;
    line-height: 0;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;}
.invite-load .btn-box{position: absolute;left: 0;bottom:10px;width: 100%;}
.invite-load .btn-box>a{display: block;margin: 0 auto;width: 209px;height: 57px;text-indent: -100px;overflow: hidden;background-repeat: no-repeat;background-position: 0 0;-webkit-background-size:100% auto;border-radius:30px;
background-size:100% auto;}
.invite-load .btn-box .btn1{background-image:url(img/btn1.png)}
.invite-load .btn-box .btn2{background-image:url(img/btn2.png)}


.page4 .img-first,.page5 .img-end,.page4 .img-end{position: absolute;left:0;top:0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: 0 0;-webkit-background-size:cover;
background-size:cover;}
.page4 .img-first{z-index: 2;
    /* background-image: url(img/img-first.jpg); */
}
.page4 .img-end,.page5 .img-end{z-index: 1;background-image: url(img/img-end.jpg);}
.page4 .map-box{position: absolute;z-index: 5;min-height: 64px;bottom:1px;left: 0;right: 0;padding:5px;background-color:rgba(225,225,225,.8);font-size: 16px;}
.page4 .map-box img{float: left;width: 96px;height: 64px;margin-right: 10px;}
.page4 .map-box .tel{color:#666;font-weight: 500;}


.page5 .pop{padding:30px 10px;}

.page-bg{position: absolute;left:0;top:0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center bottom;
z-index: 2;background-image: url(img/cup-end.jpg);-webkit-background-size:100% 100%;background-size:100% 100%;
/* -webkit-animation: show-end 1s .7s ease both; */
}

.mask{position: absolute;content:"";left: 0;top: 0;z-index: 11;width: 100%;height: 100%;background:rgba(0,0,0,.6);}
.share-box{position: absolute;content:"";right: 18px;top: 10px;z-index: 12;width: 150px;height: 130px;background:url(img/share.png) no-repeat center;-webkit-background-size:100% auto;
background-size:100% auto;}


.show-end{height: 100%;position: relative;z-index: 10;
    /* transition:all 1s ease-out 0s;
    -webkit-transition:all 1s ease-out 0s;
    -moz-transition:all 1s ease-out 0s;
    -o-transition:all 1s ease-out 0s;
    -ms-transition:all 1s ease-out 0s; */
}
.show-end>div{box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;}
.show-end .logo{display: block;margin: 10px;width: 80px;height: 60px;background:url(img/logo.png) no-repeat 0 0; -webkit-background-size:100% auto;
background-size:100% auto;}
.show-end .intro{padding:10px 0;text-align: center;background:rgba(51,120,120,.5);color:#fff;font-size: 14px;}
.show-end .intro .text{font-size: 18px;font-weight: bold;}
.show-end .slogan{padding:15px 0;font-size: 18px;font-weight: 500;text-align: center;background:rgba(225,225,225,.8);color:#366;}
.show-end .btn-box{position: absolute;bottom:10px;width: 100%;}
.show-end .btn-box a{display: block;margin: 0 auto 10px;width: 72px;height: 72px;line-height: 72px;color:#000;border-radius:50%;background:rgba(225,225,225,.8);text-align: center;font-size: 14px;}
.cup1{opacity:0;position: absolute;bottom:0;left: 50%;margin-left: -90px;width: 100px;height: 210px;background:url(img/cup1.png) 0 0 no-repeat;-webkit-background-size:100% auto;
background-size:100% auto;}
.cup2{opacity:0;position: absolute;bottom:0;left: 50%;margin-left: 20px;width: 120px;height: 210px;background:url(img/cup2.png) 0 0 no-repeat;-webkit-background-size:100% auto;
background-size:100% auto;}

.cup1{-webkit-animation: cup1 .8s ease;}
.cup2{-webkit-animation: cup2 .8s ease;}
.page-bg{/* -webkit-animation: show-end 1s .8s ease both; */}
.show-end .btn-box>a{ -webkit-animation: show-end2 1s 1.8s ease both; }
.show-end .logo{-webkit-animation: logo 1s 2s ease both;}
.show-end .slogan, .show-end .intro{ -webkit-animation: show-end 1s 2.2s ease both; }
.show-end .intro{ -webkit-animation-delay: 2.5s}
.show-end .btn-box>a{ -webkit-animation-delay:2.8s }

@-webkit-keyframes logo{
    0%{opacity:0;margin-left: 0;}
    100%{opacity:1;margin-left: 10px;}
}
@-webkit-keyframes show-end{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes cup1{
    0%{opacity:0;margin-left: -90px;}
    50%{opacity:1;margin-left: -110px;}
    100%{opacity:1;margin-left: -90px;}
}
@-webkit-keyframes cup2{
    0%{opacity:0;margin-left: 20px;}
    50%{opacity:1;margin-left: 40px;-webkit-transform:rotate(10deg);}
    100%{opacity:1;margin-left: 20px;}
}
@-webkit-keyframes show-end2{
    0%{opacity:0;margin-bottom:-10px;}
    100%{opacity:1;margin-bottom:10px;}
}


@media only screen and (min-width: 375px){
    .show-end .logo{width: 100px;
height: 80px;}
    .show-end .intro{padding: 20px 0;}
    .show-end .slogan{padding: 20px 0;}
.show-end .btn-box{bottom: 15%;}
}
